body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.App-header {
  position: relative;
  width: 100%;
  height: 100vh; /* Set the header height to fill the viewport */
  overflow: hidden;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
  filter: brightness(0.8) contrast(1.2);
}
.navbar {
  position: absolute;
  top: 15px;
  left: 50%; /* Position the navbar at the horizontal center */
  transform: translateX(-50%); /* Center the navbar horizontally */
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the contents horizontally */
  border-radius: 100px; /* Rounded corners */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  left: 20px;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  top: 3px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.auth-buttons {
  display: flex;
  align-items: center;
  position: relative;
  right: -1px;
  top: -1px;
  border: 1px solid yellow;
  border-radius: 20px;
  box-shadow: 3px 4px;
  background-color: #ffca10;
  padding: 5px 10px;
  cursor: pointer;
}
.auth-buttons:hover {
  background-color: beige;
}

/* .auth-buttons button {
  margin-left: 10px;
} */
..slider {
  position: absolute;
  top: 0; /* Position at the top of the video */
  left: 0; /* Position at the left of the video */
  width: 50%; /* Set the width of the slider */
  height: 100%; /* Set the height to cover the entire video */
  overflow: hidden;
}

.slide {
  width: 200%; /* Double the width for the animation */
  animation: slide 3s forwards; /* Use forwards to stop the animation at the end */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-100% + 100vw)
    ); /* Adjust to stop at the video edge */
  }
}
@font-face {
  font-family: "Nohemi Regular";
  src: url("./Assets/Nohemi-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Neue Regular";
  src: url("./Assets/Neue-Regular.otf") format("opentype"); /* Adjust the path to your OTF font file */
}

h1 {
  font-size: 45px;
  text-align: center;
  position: absolute;
  top: -460px;
  left: 63%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: beige;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  font-family: "Nohemi Regular", sans-serif;
  font-weight: 10;
  letter-spacing: 1.5px;
  text-decoration: black;
}
h1 span {
  display: block; /* Display the span as a block element */
  margin-top: 10px; /* Adjust the margin top to create space between lines */
  left: 55.5px;
  position: relative;
}
.about-us {
  display: flex;
  position: relative;
  left: 140px;
  width: 900px;
  height: 250px;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the alpha value to change opacity */
  /* border: 1px solid white; */
  border-radius: 0px;
  top: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.firstrect {
  margin-right: 20px;
  height: 85px;
  width: 45px;
  position: relative;
  left: 50px;
}

.who {
  font-size: 45px;
  color: #f9f6f6;
  font-weight: 200;
  position: relative;
  top: -12px;
  left: 50px;
  font-family: "Nohemi Regular", sans-serif;
}

.about-heading p {
  position: relative;
  top: -25px;
  right: -55px;
  color: rgb(243, 238, 238);
  font-family: "Nohemi Regular", sans-serif;
  font-weight: 500;
  word-spacing: 5px;
  max-width: 700px;
  max-height: 200px;
  overflow: hidden;
  line-height: 25px;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: "Neue Regular", sans-serif;
}

.secondrect {
  margin-left: 20px;
  height: 85px;
  width: 45px;
  position: relative;
  left: 1275px;
  top: 35px;
}
.why {
  font-size: 45px;
  color: #f9f6f6;
  font-weight: 200;
  position: relative;
  top: -58px;
  left: 1105px;
  font-family: "Nohemi Regular", sans-serif;
}
.Frame1 {
  position: relative;
  height: 176px;
  width: 155px;
  top: -80px;
  left: 650px;
}
.Frame2 {
  position: relative;
  height: 176px;
  width: 155px;
  top: -80px;
  left: 675px;
}
.Frame3 {
  position: relative;
  height: 176px;
  width: 155px;
  top: -80px;
  left: 700px;
}
.Frame4 {
  position: relative;
  height: 176px;
  width: 155px;
  top: -80px;
  left: 725px;
}
.why-us {
  position: relative;
  top: 150px;
  padding-top: -30px;
}

.why-us::before {
  content: "";
  position: absolute;
  top: 0;
  padding-top: -30px;
  padding-bottom: -40px;
  left: 600px;
  width: 800px; /* Specify the width of the left side */
  height: 380px;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for opacity */
  z-index: -1;
}

.why-us-content {
  position: relative;
  padding-left: 100px; /* Ensure content is not covered by the left side */
  height: 350px;
}
